#page-create-point {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

#page-create-point header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}
#page-create-point header a {
  color: var(--title-color);
  font-weight: bold;
  display: flex;
  align-items: center;
}
#page-create-point header a span {
  background-image: url('../assets/arrow-left.svg');
  width: 20px;
  height: 24px;
  margin-right: 16px;
  display: flex;
}

form {
  background-color: white;
  max-width: 730px;
  padding: 64px;
  margin: 80px auto;
  border-radius: 8px;
}

form h1 {
  font-size: 36px;
}

form fieldset {
  margin-top: 64px;
  border: 0;
}

form legend {
  margin-bottom: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%
}
form legend h2 {
  font-size: 24px;
}

form legend span {
  font-size: 14px;
  color: var(--title-color);
}

form .field {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 24px;
}

form .field-group {
  display: flex;
}
form .field-group .field + .field {
  margin-left: 24px;
}

form input,
form select {
  background-color: var(--input-color);
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  border-radius: 8px;
}
form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

form label {
  font-size: 14px;
  margin-bottom: 8px;
}

form button {
  background-color: var(--primary-color);
  width: 260px;
  height: 56px;
  margin-top: 40px;
  color: white;
  border: 0;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 400ms;
}
form button:hover {
  background-color: #2fb86e;
}

.items-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.items-grid li {
  background-color: #e1faec;
  list-style: none;
  height: 180px;
  border: 2px solid #e1faec;
  border-radius: 8px;
  padding: 32px 24px 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  cursor: pointer;
}
.items-grid li span {
  flex: 1;
  display: flex;
  align-items: center;
  margin-top: 12px;
  color: var(--title-color);
}

.items-grid li.selected {
  background-color: rgb(245, 132, 67);
  border: 2px solid rgb(255, 94, 0);
}

.items-grid li img,
.items-grid li span {
  pointer-events: none; /* ignora eventos de pointer */
}